@import './variables';
.imgback {
    background-image: url('../images/slide1.png');
    background-repeat: no-repeat;
    
    width: 100%;


}
header{

}
.H-container{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns:3fr 4fr 1fr 1fr 1fr ;
    padding: 20px;
    grid-row: 1/2;
}


ul {
    list-style-type: none;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
  
}
ul li {
    place-self: center;

}
a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    place-self: center;

  }
.bgOp{
    background: rgba(0, 0, 0, 0.45);
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr  1fr;

}
.up{
    grid-column: 4/5;
    place-self: center;
}
.lang{
    grid-column:5/6;
    position: relative;
    place-self: center;
}
.rgq{
    font-size: 24px;
    color: $c1;
    padding: 0px;
    margin: 0px;


}
.edf{
    font-size: 48px;
    color: white;
    padding: 0px;
    margin: 0px;  
    margin-top: 5px;


}
.H-content button{
    background-color: $c1;
    position: absolute;
    width: 188px;
    height: 50px;
    border-radius: 25px;
    color: white;
    border: 0px;
    margin-top: 30px;
    position: relative;
    left: 25%;

}
.H-content{
    grid-row: 3/4;
    place-self: center;
}
.h-icons{
    grid-row: 5/6;
    place-self: center;

}
.d{
    font-size: 100px;
    color: $c1;
    padding: 10px;
    background-color: $c2;
    border:3px solid $c1;

}
